# Ignore files from Pycharm
/shelf/
/workspace.xml

**/.idea
**/venv
**/backup
**/__pycache__

**/*.pyc
**/*.csv
**/*.mp4

# Exclude this folder to not sync the large stimulus files
**/Touchscreen-Chamber-Gerion/stimulus_files
